.socialIcons {

    width: 32px;
    height: auto;    
    z-index: 1000;
}

.tabs {
    border-radius: 2px 2px 0 0;
    background-color: #64b5f6 ;
    z-index: 1000;
    top: 7px;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: rgba(0,0,0,0.2);
    outline: none;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(0,0,0,0.2);
    outline: none;
}


.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: white;
    will-change: left, right;
}

.login {
    margin: 45px auto;
    width: 400px;
}

.btn {
    background-color:  #4065b7;
}

.btn:hover {
    background-color: #64b5f6 ;
}

.home {
    margin: 50px auto;
}

.logo-login-page {
    text-align: center;
}

.logo-login-page img {
    margin-top: 20px;
    margin-bottom: -20px;
    width: 150px;
}


.toggle { 
    display: none;
} 

.same-box-1 {
    display: none;
}

